@charset "ISO-8859-1";

body {
  background-color: white;
  font-family: verdana;
  font-size: 16px;
}

h1 {
  color: MediumSeaGreen;
  text-align: center;
  font-family: verdana;
}

h3{
	color: MediumSeaGreen;
  text-align: center;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
}

label{
	display: inline-block;
	width: 170px;
	text-align: left;
	
}

div.profile{
	text-align: left;
	font-family: verdana;
	font-size: 10px;

  border: 1px solid #ccc;
    box-sizing: content-box;  
  width: 300px;
  height: 180px;
  padding: 15px;  

}

div.calories{
		text-align: left;
	font-family: verdana;
	font-size: 10px;

  border: 1px solid #ccc;
    box-sizing: content-box;  
  width: 800px;
  height: 140px;
  padding: 15px;  
}

div.profileSetup{
	text-align: center;
}

div.login{
	text-align: center;
}

div.createAccount{
	text-align: center;
}

div.table{
	text-align: center;
}

div.error{
	font-family: verdana;
	font-size: 10px;
	color: red;
}

div.success{
	font-family: verdana;
	font-size: 10px;
	color: MediumSeaGreen;
}

div.borderOne{
		border: 1px solid #f1f1f1;
	  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 50px;
}

a:visited{
	color: MediumSeaGreen;
}

a:hover{
	color: #FEF56D;
}

form {

 
	}
	
input[type=button], input[type=submit],button{
	background-color: MediumSeaGreen;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table, td {
  border: 0.5px solid black;
  border-collapse: collapse;
  text-color: MediumSeaGreen;
  font-size: 15px;
  padding: 5px;
}

th{
	height: 40px;
	background-color: MediumSeaGreen;
	border: 0.5px solid black;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

.meter {
  height: 25px;
  /* Can be anything */
  position: relative;
  background: #e3e3e3;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meterText{
	padding: 10px;
	text-align:center;
	font-size: 15px;
	color: white;
	
}

.meter>span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: MediumSeaGreen ;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

<!-- modal -->
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
.w3-container,.w3-panel{padding:0.01em 16px}
.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.w3-display-topright{position:absolute;right:0;top:0}

.logout{

   position:fixed;
   right:10px;
   top:5px;
   border-style: solid;
   border-color: SeaGreen;
}
